h1 {
  font-family: "Papyrus", fantasy;
  font-size: 3em;
  color:rgb(71, 71, 71);


  text-align:center;

  border-style: double;
  border-color: rgb(71, 71, 71);
  /*background-color: rgb(152, 255, 255);*/
  
  width: 700px;
  /*margin-left: 70px;*/
  margin: auto;
  /*border-width: 10px;*/
}

/*div {
  position: relative;
}


div:after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 1px;
}*/

.topnav{
  color:rgb(71, 71, 71);
  border-style: double;
  background-color: rgb(71, 71, 71);
  overflow: hidden;
  text-align: center;
}

.topnav a {
  border-style: hidden;
  background-color: rgb(71, 71, 71);
  text-align: center;
  padding: 50px;

  font-size: 1.5em;
  font-family: "Papyrus", fantasy;
  color: white;
}

.topnav a.active {
  background-color: white;
  color: rgb(71, 71, 71);
}

p {
  color: rgb(71, 71, 71);
  font-family: "Times New Roman", serif;
}